@model Student

@{
    ViewData["Title"] = "Delete Student";
}


<form method="post" asp-action="Delete">
    <div class="border p-3 mt-2">
        <div class="row pb-2">
            <h1 class="text-center text-black">Delete Student</h1>
        </div>

        <div class="mb-2">
            <label asp-for="Name">Name of Student</label>
            <input disabled asp-for="Name" class="form-control" />
        </div>

        <div class="mb-2">
            <label asp-for="FirstName">First Name of Student</label>
            <input disabled asp-for="FirstName" class="form-control" />
        </div>

        <div class="mb-2">
            <label asp-for="LastName">LastName of Student</label>
            <input disabled asp-for="LastName" class="form-control" />
        </div>

        <div class="mb-2">
            <label asp-for="Genre">Genre</label>
            <select disabled asp-for="Genre" class="form-control">
                <option value="">Select Genre</option>
                <option value=0>Male</option>
                <option value=1>Female</option>
                <option value=2>Other</option>
            </select>
        </div> dateOfBirth

        <div class="mb-2">
            <label asp-for="dateOfBirth">Birthday</label>
            <input disabled asp-for="dateOfBirth" class="form-control" />
        </div>

        <button type="submit" class="btn btn-danger" style="width:200px">
            Delete
        </button>

        <a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:200px">
            Back to List
        </a>
    </div>
</form>